extends layout

block content
    div(class='btn-group')
        a(class='btn btn-info', href='/litecoin') Litecoin
        a(class='btn btn-info', href='/bitcoin') Bitcoin 
    div(class='hero-unit', style='text-align:center')
        h1 #{coin} in USD
        hr
        div(class='input-append')
            div(class='btn-group')
                button(class='btn btn-info dropdown-toggle',data-toggle='dropdown')
                    |Currency
                    span(class='caret')
                ul(class='dropdown-menu')
                    li
                        a(href='#') test
             span(class='add-on') $#{amount}
