doctype 5
html
    head
    title='$' + amount
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content
    div(id='footer', style='text-align:center')
        include footer
        include ads
